/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  font-family: 'Cereal Light', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Police */
@font-face {
  font-family: "Cereal Bold";
  src: url("/public/fonts/AirbnbCereal_W_Bd.otf") format("opentype");
}

@font-face {
  font-family: "Cereal Medium";
  src: url("/public/fonts/AirbnbCereal_W_Md.otf") format("opentype");
}

@font-face {
  font-family: "Cereal Book";
  src: url("/public/fonts/AirbnbCereal_W_Bk.otf") format("opentype");
}

@font-face {
  font-family: "Cereal Light";
  src: url("/public/fonts/AirbnbCereal_W_Lt.otf") format("opentype");
}

@font-face {
  font-family: "Cereal Extra Bold";
  src: url("/public/fonts/AirbnbCereal_W_ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Cereal Black";
  src: url("/public/fonts/AirbnbCereal_W_Bl.otf") format("opentype");
}

body {
  background-color: #fafafa;
}

/* navbar */


header {
  background-color: #fafafa;
  padding-top: 40px;
  padding-bottom: 40px;
  top: 0;
  height: 125px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

li>a {
  color: rgb(82, 82, 82);
  font-size: 16px;
}

.svg-nav {
  color: rgb(82, 82, 82);
  font-size: 18px;
}
.svg-footer{
  margin-left: 6px;
}

.icon-equipement {
  margin: 10px;
}

.dropdown-toggle {
  color: white;
}

.nav-user {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-user:hover {
  background-color: rgb(238, 236, 236);
}

h1 {
  font-family: 'Cereal Medium', sans-serif;
  font-size: 26px;
  font-weight: 500;
}

/* Connexion et inscription */
.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-auth-input {
  width: 100%;
  margin-bottom: 30px;
}

.call-action {
  width: auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #FF5A5F;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgb(248, 248, 248);
}

.call-action:hover {
  background-color: #ff8286;
}

.auth-link {
  color: #104590;
  font-weight: 700;
  margin-left: 10px;
}

.box-auth-input {
  width: 100%;
  margin-bottom: 30px;
}

.detail-description {
  font-size: 14px;
  margin: 10px 5px;
}
h3{
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

/* form create logement */
.div-form {
  width: 100%;
  display:flex; 
  justify-content:space-evenly;
  flex-direction: row;
  margin-bottom: 75px;
}

/*detail annonce*/
.property-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.price-per-night {
  font-size: 1.5rem;
  color: #e74c3c;
}

.description {
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.amenities {
  list-style-type: none;
  padding-left: 0;
  font-size: 1rem;
}

.amenities li {
  margin-bottom: 0.5rem;
}

.amenities li i {
  color: #3498db;
  margin-right: 0.5rem;
}

.carousel-item img {
  object-fit: cover;
  height: 500px;
  transition: transform 0.5s ease;
}

.carousel-item img:hover {
  transform: scale(1.05);
}

.thumbnail-img {
  cursor: pointer;
  max-height: 100px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.thumbnail-img:hover {
  transform: scale(1.1);
}

.card {
  background-color: #e6ecf1;
  box-shadow: 10px 10px 20px hsl(227, 15%, 76%), -10px -10px 20px #ffffff;
  border: none;
  border-radius: 10px;
}
.card>a:hover{
background-color: #ebb3ac;
border-radius: 10px;
transition: background-color 1.5s;
box-shadow: 10px 10px 20px hsl(227, 15%, 76%), -10px -10px 20px #ffffff;
}

.modal-content {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-size {
  width: 24px;
  /* Exemple de taille d'icône */
  height: 24px;
  /* Exemple de taille d'icône */
}

/* Tableaux */
.footer-description {
  font-size: 14px;
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  width: 75%;
}

th,
td {
  border: 1px solid #FF5A5F;
  padding: 10px;
  text-align: center;
}
th{
  font-size: 18px;
  font-weight: 700;
  background-color: #FF5A5F;
}

/* Logement card */
.title-card {
  font-size: 15px;
  font-weight: bold;
  color: #2c3e50;
}

.sub-title {
  font-size: 14px;
  font-weight: normal;
  color: #646464;
}

.price-card {
  font-size: 14px;
  font-weight: bold;
  color: #e74c3c;
}
.price-total{
  font-size: 16px;
  font-weight: bold;
  color: #e74c3c;
  margin: 10px;
  text-align:center;
}

.title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 28px;
}
.admin-container{
  padding-bottom: 50px;
}
footer {
  background-color: #fafafa;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ccc;
}
.form-control:focus{
  border-color: #FF5A5F;
  box-shadow: 0 0 0 0.2rem #ffa4a7;
}
