/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

/* navbar */
body {
  background-color: rgba(245, 245, 245, 1);
  color: rgb(39, 35, 250);
}

.topbar{
  background-color: rgb(22, 74, 185);
}